<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>KickStarter.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D1405C5D1EBE564D00415559</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D1405C741EBE564E00415559</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D1405C7F1EBE564E00415559</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
